body{ 
    height: 100%;
     background-image: url(/assets/img/wallpaper3.webp);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed; 
     font-family: "Barlow Condensed", sans-serif;
 }
 
html,body{
    min-height: 100%;
}



form{
    width: 24%;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
       
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: purple;
    color: white;
    transition: background 0.5s ease;
    
}

.btn-primary:hover{
    background: blue;
}

.form-control{
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.container-fluid h4{
    font-size: 2rem !important;
    font-weight: 700;
}

.form-label{
    font-family: 800;
}


@media only screen and (max-width:600px){
    form{
        width: 100%;
    }   
}

.icons{
    margin-top: 100px;
    background-color: rgba(44, 44, 44,0.5);
    padding: 15px;
    border-radius: 50px; 
}

.carrusel{
    padding: 50px;
    background-color: rgba(44, 44, 44,0.5);
    opacity: 0.9;
    border-radius: 50px;
}

.cartas{
    background-color: rgba(44, 44, 44,0.5);
    opacity: 0.9;
}

.consolas{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.consolas:hover{
    transform: scale(130%);
    transition: 0.3s ease;
    filter: drop-shadow(1px 1px 1px black);
}

.mostrador{
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 100px;
    background-color: rgba(44, 44, 44,0.5);
    opacity: 0.9;

}

.movimiento{
    transition: 0.5 ease;
}

.movimiento:hover{
    transform: scale(110%);
    transition: 0.3s ease;
    filter: drop-shadow(1px 1px 1px black);
}

.enlace{
    color: white;
    transition: color 0.3s ease-in-out;
}

.enlace:hover{
    color: rgb(17, 18, 19);
}

.enlace-switch:hover{
    color: rgb(155, 13, 13);
}

.enlace-xbox:hover{
    color: green;
}

.enlace-play:hover{
    color: blue;
}




.ficha{
    max-width: 1500px;
    max-height: 1500px;
    text-align: center;
    background-color: rgba(44, 44, 44,0.3);
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 30px;
    border-radius: 100px ;
}

@media (max-width: 768px) { /* Cambia los estilos para pantallas de tamaño mediano */
    .ficha {
        padding-top: 50px; /* Reduce el espacio superior */
        padding-bottom: 50px; /* Reduce el espacio inferior */
    }
    
    .ficha .col:first-child {
        display: none; /* Oculta la primera columna (la imagen) en pantallas más pequeñas */
    }

    .ficha .col:last-child {
        text-align: center; /* Centra el contenido en la segunda columna */
    }
}


@media (max-width: 576px){
    .chico{
        padding-left: 150px;
        padding-right: 150px;
    }

}



.medio{
    margin-top: 150px;
}

.medio2{
    margin-top: 130px;
}



@media (max-width: 992px){
    .ancho{
        padding-left: 110px;
        padding-right: 110px;

    }

}



.footer-log{
    bottom: 0;
    position: absolute;
    width: 100%;

}

.bordesito{
border: 5px solid rgba(0, 0, 0, 0.5);
transition: border 0.3s ease;
}

.bordesito:hover{
    border: 8px solid rgba(255, 255, 255, 0.8);

}